body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
h1, h2{
    color: #003cff;
}

/* MENU */

header{
    background-color: #003cff;
    height: 3.5rem;
}
nav ul {
    /* background-color: aqua; */
    display: flex;
    margin-left: 10%;
    height: 3.5rem;
}
nav ul li{
    /* background-color: aliceblue; */
    margin-left: 2.5rem;
    justify-content:left;
    align-content: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

/* Section 1 */

#GamerShop{
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
}
.box-Gamershop{
    padding: 2.5rem;
    width: 50%;
}
.box-Gamershop h1{
    font-size: 2.5rem;
}

/* Section 2 */

#Descrizione{
    background-color: white;
    display: flex;
    justify-content: center;
}
#Descrizione img{
    justify-content: right;
    margin-top: 3rem;
    width: 600px;
    height: 338px;
}
.box-Descrizione{
    justify-content: left;
    padding: 2.5rem;
    width: 40%;
}
.box-autore{
    border-left: 3px solid blue;
    margin-left: 3rem;
}
#autore{
    margin: 2rem;
    width: 45%;
}

/* Section 3 */
#Principali{
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
}